@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Missions</h1>
    <p class="lead">This is a site to view missions and ask questions about missions</p>
    <p><a href="@Url.Action("Index","Missions")" class="btn btn-primary btn-lg">Learn more about a mission!</a></p>
</div>

